<body style="background-color: #189BCC;">

    <h1 style="text-align: center;">Como contactarnos!</h1>
    <div class="row">
        <div class="col">
            <div id="ubi" class="ratio ratio-16x9">
                <iframe src="https://maps.app.goo.gl/peu8d1SoFArvDD787" title="Nuestro local" allowfullscreen></iframe>
            </div>
            <p>
            <h3>Ubicación</h3><br>Gral. Roca 501, Cipolletti<p>
        </div>

        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">E-Mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">quiero recibir ofertas por correo</label>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: darkblue;">Inciar sesión</button>
            </form>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem; background-color: #189BCC;" >
                <div class="card-body">
                    <h3 class="card-title">Teléfono</h3>
                    <p class="card-text">299 140 6200</p>
                </div>

                <div class="card" style="width: 18rem; background-color: #189BCC;">
                    <div class="card-body">
                        <h3 class="card-title">Redes sociales</h3>
                        <a href="https://www.instagram.com/lokitamiaok/?hl=es-la" class="btn btn-primary" style="background-color: darkblue;">Instagram</a> <br>
                        <a href="https://www.facebook.com/tiendasoco/?locale=es_LA" class="btn btn-primary " style="background-color: darkblue;">Facebook</a><br>
                        <a href="https://x.com/ropaaonlinee?lang=es" class="btn btn-primary" style="background-color: darkblue;">Twitter</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>