<body style="background-image: url(https://imagenes.heraldo.es/files/image_1920_1080/uploads/imagenes/2024/04/05/interior-de-la-tienda-goeteborg.jpeg);">
    <div class="card mb-3" style="background-color: #189BCC;">
        <div class="card-body">
            <h1 class="card-title" style="text-align: center;">Quienes somos?</h1>
            <p class="card-text">En nuestra tienda, somos más que una marca de ropa; somos un equipo apasionado por la
                moda y la expresión personal. Fundada en 2009, nuestra misión es ofrecer prendas que no
                solo sean estilizadas, sino que también cuenten historias. Creemos que la ropa es una forma de arte y
                una manera de comunicar quiénes somos.<br>
                Desde nuestros inicios, nos hemos enfocado en crear colecciones
                que reflejen las tendencias actuales sin olvidar la atemporalidad. Cada diseño es fruto de la
                creatividad y la dedicación de nuestro equipo, que trabaja incansablemente para ofrecerte calidad y
                originalidad en cada prenda.</p>
        </div>
    </div><br>

    <div class="card mb-3" style="background-color: #189BCC;">
        <div class="card-body">
            <h1 class="card-title" style="text-align: center;">Nuestro compromiso</h1>
            <p class="card-text">La sostenibilidad es uno de nuestros pilares fundamentales. Nos esforzamos por utilizar
                materiales responsables y procesos éticos en cada etapa de producción. Creemos en un futuro donde la
                moda y el respeto por el medio ambiente coexistan, y estamos comprometidos a ser parte de ese cambio.
            </p>
        </div>
    </div><br>

    <div class="card mb-3" style="background-color: #189BCC;">
        <div class="card-body">
            <h1 class="card-title" style="text-align: center;">Nuestra comunidad</h1>
            <p class="card-text">En nuestra empresa, valoramos a nuestros clientes y queremos que cada uno de
                ustedes se sienta parte de nuestra familia. Nos encanta escuchar tus historias y cómo nuestras prendas
                se integran en tu vida diaria. A través de nuestras redes sociales, compartimos inspiración, consejos de
                estilo y novedades para que siempre estés al día.</p>
        </div>
    </div><br>

    <div class="card mb-3" style="background-color: #189BCC;">
        <div class="card-body">
            <h1 class="card-title" style="text-align: center;">Únete a Nosotros</h1>
            <p class="card-text">Te invitamos a explorar nuestras colecciones y a ser parte de esta aventura. En nuestra
                empresa, cada prenda que elijas es una celebración de tu individualidad. Juntos, podemos crear un
                mundo donde la moda sea sinónimo de autenticidad y responsabilidad.</p>
        </div>
    </div><br>
</body>